<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Chanuwas (New) Aswamenakul</h2>
                <p>A Master's student at the University of Southern California (USC)</p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Sign Up</a></li>
                    <li><a href="#elements" class="button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
